<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserMapper">
<resultMap type="com.example.pojo.userInfo.UserInfoBean" id="BaseResultMap">
<result column="F_USER_CODE" property="fUserCode"/>
<result column="F_USER_NAME" property="fUserName"/>
<result column="F_USER_ROLE" property="fUserRole"/>
<result column="F_USER_PWD" property="fUserPwd"/>
<result column="F_USER_STATE" property="fUserState"/>
<result column="F_OPER_CODE" property="fOperCode"/>
<result column="F_OPER_NAME" property="fOperName"/>
<result column="F_OPER_TIME" property="fOperTime"/>
<result column="F_CREATE_TIME" property="fCreateTime"/>
<result column="F_USER_ACCOUNT_BALANCE" property="fUserAccountBalance"/>
<result column="F_USER_INTEGRAL" property="fUserIntegral"/>
<result column="F_RESOURCE" property="fResource"/>
</resultMap>
<sql id="column_list">
F_USER_CODE,f_user_name,F_USER_ROLE,F_USER_PWD,F_USER_STATE,F_OPER_CODE,F_OPER_NAME,F_OPER_TIME,F_CREATE_TIME,F_USER_ACCOUNT_BALANCE,F_USER_INTEGRAL,F_RESOURCE
</sql>
<select id="queryUserInfoByfUserCode" resultMap="BaseResultMap">
select <include refid="column_list"></include> from t_user_info where f_user_code =#{fUserCode}
</select>
<insert id="register" >
insert into t_user_info (F_USER_CODE,f_user_name,F_USER_ROLE,F_USER_PWD,F_USER_STATE,F_OPER_CODE,F_OPER_NAME,F_OPER_TIME,F_CREATE_TIME,F_USER_ACCOUNT_BALANCE,F_USER_INTEGRAL,F_RESOURCE)
values (#{fUserCode},#{fUserName},#{fUserRole},#{fUserPwd},#{fUserState},#{fOperCode},#{fOperName},#{fOperTime},#{fCreateTime},#{fUserAccountBalance},#{fUserIntegral},#{fResource})
</insert>
</mapper>